
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            @if (routeData.PageType == typeof(Pages.UserLogin))
            {
                <RouteView DefaultLayout="typeof(Layout.LoginLayout)" RouteData="routeData" />
            }
            else
            {
                <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)"/>
            }
        </Found>
        <NotFound>
            <RouteView DefaultLayout="typeof(Layout.MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </RouteView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
